@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    border: 0; margin: 0; padding: 0; box-sizing: border-box;
     font-family: 'Poppins', sans-serif; text-decoration: none; 
     list-style: none; font-size: 100%;
}

a{
    text-align: center;
    color: #000;
    text-transform: capitalize;
}

h2{
    font-size: 2rem;
    color: rgb(29, 0, 56);
    font-weight: 800;
}

.container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1d1d1;
}

.titulo{
    font-size: 2rem;
    color: #fff;
}

.titulo2{
    padding: 10px;
    font-weight: bold;
    color: rgb(29, 0, 56);
    font-family: 'Quicksand';
}

/* Primeiro conteudo */
.conteudo{   
    border-radius: 10px;
    background-color: #fff;
    width: 960px;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    border: 2px solid rgba(26, 0, 44, 0.753);
}

.conteudo::before{
    content: "";
    position: absolute;
    background-color: rgb(29, 0, 56);
    width: 40%;
    height: 100%;

    left: 0%;
}

.conteudo-1{   
    display: flex;
}

.conteudo-1 .coluna-2{
    z-index: 11;
}

.coluna-1{
    text-align: center;
    width: 40%;
    z-index: 10;
    color: #fff;
}

.coluna-2{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-social{
    display: flex;
}

.item-social-media{
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    box-shadow: 1px 3px 5px #d1d1d1;
    margin: 8px 5px;
    background-color:transparent;
}

.item-social-media:hover{
    background: rgb(29, 0, 56);
    transform: translateY(10px);
    transition: all .8s ease-out;
}

.lista-social li a {
    color: #cecece; 
    padding: 5px 8px; 
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.form input{
    height: 45px;
    background-color: #cecece;
    width: 100%;
}

.form-label{
    background: #d1d1d1;
    display: flex;
    align-items: center;
    margin: 8px;
    border:  2px solid rgba(29, 0, 56, 0.582) ;
}

.icon-mod{
    padding: 0 10px;
}


.descrição{
 line-height: 2rem;
}

.btn{
    border-radius: 15px;
    padding: 8px 40px;
    margin: 10px auto;
    font-weight: 800; 
    text-transform: uppercase; 
    cursor: pointer;  
    transition: all 1s;
    color: #fff;
}

.btn-primario{
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 1s ease;
}

.btn-primario:hover{
    background-color: #fff;
    color: rgb(29, 0, 56);
}

.btn-secondario{
    background:  linear-gradient(to left, #000, rgb(104, 8, 160));
    border: 2px solid rgb(29, 0, 56);
    margin: 10px auto;
}

.btn-secondario:hover{
    background: transparent;
    color: rgba(29, 0, 56, 0.747);
    transition: all 3s;
}

/* segundo conteudo */

.conteudo-2{   
    position: absolute;
    display: flex;
}

.conteudo-2 .coluna-1{
    order: 2;
    z-index: -1;
}

.conteudo-2 .coluna-2{
    order: 1;
    z-index: -1;
}

.sign-in-js .conteudo-1 .coluna-1,
.sign-in-js .conteudo-1 .coluna-2{
    z-index: -1;
}

.sign-in-js .conteudo-2 .coluna-1,
.sign-in-js .conteudo-2 .coluna-2{
    z-index: 12;
}

.sign-in-js .conteudo::before{
    left: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
}

.sign-up-js .conteudo-2 .coluna-1,
.sign-up-js .conteudo-2 .coluna-2{
    z-index: -1;
}

.sign-up-js .conteudo-1 .coluna-1,
.sign-up-js .conteudo-1 .coluna-2{
    z-index: 11;
}